body{
    background-color: rgb(238, 131, 104);
}
h1{
    margin:auto;
    text-align: center;
}
.item p{
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 19px
}
.dessert, .flavor, .appetizer, .main{
    text-align: left;
    width: 75%;
}
.price{
    text-align: right;
    width: 25%;
}
h1, h2, p{
    text-align: center;
}
